@using IFlixr.ViewModel
@model MoviePage
@{
    ViewBag.Title = "Video";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row-fluid row-wrap">
    <!-- START LEFT SIDE BAR -  MOVIE DETAILS  -->
    <div class="span2 offset1">
        <div class="gap">
        </div>
        <aside class="hidden-phone">
            <h4>
                <i class="icon-film box-icon-gray box-icon-to-normal box-icon-left animate-icon-bounce">
                </i>About this film</h4>
            <ul class="list list-icon list-icon-caret-right list-icon-color">
                <li><b>Language: </b><a href="#">@Model.Movie.Languages.First()</a> </li>
                <li><b>Country: </b><a href="#">@Model.Movie.Country</a> </li>
                <li><b>Running Time: </b><a href="#">@Model.Movie.DurationText</a> </li>
                <li><b>Released:</b> <a href="#">@Model.Movie.ReleaseDateText</a> </li>
                <li><b>Posted: </b><a href="#">@Model.Movie.CreatedDate.ToString("MMM, yyyy")</a>
                </li>
            </ul>
            <div class="gap gap-small">
            </div>
            <h4>
                <i class="icon-user box-icon-gray box-icon-to-normal box-icon-left animate-icon-bounce">
                </i>Cast &amp; Crew</h4>
            <ul class="list list-icon list-icon-caret-right list-icon-color">
                @if (!String.IsNullOrWhiteSpace(Model.Movie.DirectedBy))
                {
                    <li><b>Directed By: </b><a href="#">@Model.Movie.DirectedBy</a> </li>
                }
                @if (!String.IsNullOrWhiteSpace(Model.Movie.ProducedBy))
                {
                    <li><b>Produced By: </b><a href="#">@Model.Movie.ProducedBy</a> </li>
                }
                @if (!String.IsNullOrWhiteSpace(Model.Movie.WrittenBy))
                {
                    <li><b>Written By: </b><a href="#">@Model.Movie.WrittenBy</a> </li>
                }
                @if (!String.IsNullOrWhiteSpace(Model.Movie.Starring))
                {
                    <li><b>Starring: </b><a href="#">@Model.Movie.Starring</a> </li>
                }
                @if (!String.IsNullOrWhiteSpace(Model.Movie.MusicBy))
                {
                    <li><b>Music By: </b><a href="#">@Model.Movie.MusicBy</a> </li>
                }
                @if (!String.IsNullOrWhiteSpace(Model.Movie.CinematographyBy))
                {
                    <li><b>Cinematography: </b><a href="#">@Model.Movie.CinematographyBy</a> </li>
                }
                @if (!String.IsNullOrWhiteSpace(Model.Movie.EditingBy))
                {
                    <li><b>Editing By: </b><a href="#">@Model.Movie.EditingBy</a> </li>
                }
                @if (!String.IsNullOrWhiteSpace(Model.Movie.Studio))
                {
                    <li><b>Studio: </b><a href="#">@Model.Movie.Studio</a> </li>
                }
                @if (!String.IsNullOrWhiteSpace(Model.Movie.DistributedBy))
                {
                    <li><b>Distributed By: </b><a href="#">@Model.Movie.DistributedBy</a> </li>
                }
            </ul>
        </aside>
    </div>
    <!-- END LEFT SIDE BAR -  MOVIE DETAILS  -->
    <!-- START CENTER TAB - VIDEO -->
    <div class="tabbable span6">
        <ul class="nav nav-tabs" id="movieTabs">
            @foreach (var mp in Model.Movie.Links)
            {
                <li class="@( Model.ActiveLink == mp ? "active" : String.Empty)"><a href="#@mp.Parts[0].UniqueId" data-toggle="tab">@mp.Source</a>
                </li>
            }
        </ul>
        <div class="tab-content">
            @foreach (var mp in Model.Movie.Links)
            {
                <div class= "@( Model.ActiveLink == mp ? "tab-pane fade in active" : "tab-pane fade in")" id="@mp.Parts[0].UniqueId">
                    <div class="shadow-box shadow-box-padding">
                        <div class="thumb">
                            <div class="thumb-header">
                                <div class="hover-image">
                                    <div @*class="video-wrapper"*@>
                                        <div class="video-container">
                                            <iframe  
                                            data-src= "@mp.GetEmbedSnippet(Model.StartVideoId)"  
                                            src= "@mp.GetEmbedSnippet(Model.StartVideoId)" 
                                            frameborder="0" allowfullscreen seamless
                                            ></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (mp.Parts.Count > 1)
                            {
                                <div class="container-fluid text-center">
                                    @for (var j = 0; j < mp.Parts.Count; j++)
                                    {
                                        var part = mp.Parts[j];
                                        <a href="@Model.GetUrl(part.UniqueId)">
                                            <button class="@(Model.IsSelectedVideo(part.UniqueId) ?
                                            "btn btn-mini btn-default" : "btn btn-mini btn-info")">
                                                Part @(j + 1)
                                            </button>
                                        </a>
                                    }
                                </div>
                                <div class="gap gap-tiny">
                                </div>
                            }
                            <div class="shadow-box well-small">
                                <div class="thumb-caption float-left">
                                    <h4 class="thumb-title">
                                        <a href="#">@Model.Movie.Title</a></h4>
                                </div>
                                <ul class="list list-inline thumb-meta text-right">
                                    <li><i class="icon-film"></i><a href="#">2012</a></li>
                                    <li><i class="icon-calendar"></i>@mp.CreatedDate.ToString("MMM, yyyy")</li>
                                    <li><i class="icon-user"></i><a href="#">@mp.PostedByName</a></li>
                                </ul>
                                <div class="gap gap-tiny">
                                </div>
                                <div class="row-fluid">
                                    <div class="span12 thumb center">
                                        <ul class="list list-inline margin-right-small">
                                            <li><a class="icon-thumbs-up box-icon-to-inverse animate-icon-bottom-to-top round"
                                                href="#"></a></li>@Model.Movie.Likes
                                            <li><a class="icon-thumbs-down box-icon-to-inverse animate-icon-bottom-to-top round"
                                                href="#"></a></li>@Model.Movie.Dislikes
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                            <li><a class="icon-facebook box-icon-to-inverse animate-icon-bottom-to-top round"
                                                href="#"></a></li>
                                            <li><a class="icon-twitter box-icon-to-inverse animate-icon-bottom-to-top round"
                                                href="#"></a></li>
                                            <li></li>
                                            <li><a class="icon-unlink box-icon-to-inverse animate-icon-bottom-to-top round" href="#">
                                            </a></li>
                                            <li><a class="icon-flag box-icon-to-inverse animate-icon-bottom-to-top round" href="#">
                                            </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- END CENTER TAB - VIDEO -->

    <!-- START RIGHT SIDE BAR - TAGS -->
    <div class="span2">
        <div class="gap">
        </div>
        <aside class="hidden-phone">
            <h4>
                <i class="icon-tags box-icon-gray box-icon-to-normal box-icon-left animate-icon-bounce">
                </i>Tags</h4>
            <ul class="list list-inline list-icon-color">
                <li><span class="span span-default"><i class="icon-tag"></i><a href="#">2012</a></span></li>
                <li><span class="span span-default"><i class="icon-tag"></i><a href="#">@Model.Movie.DirectedBy</a></span></li>
                <li><span class="span span-default"><i class="icon-tag"></i><a href="#">@Model.Movie.WrittenBy</a></span></li>
                <li><span class="span span-default"><i class="icon-tag"></i><a href="#">@Model.Movie.ProducedBy</a></span></li>
                <li><span class="span span-default"><i class="icon-tag"></i><a href="#">@Model.Movie.Studio</a></span></li>
                <li><span class="span span-default"><i class="icon-tag"></i><a href="#">@Model.Movie.Languages.First()</a></span></li>
                <li><span class="span span-default"><i class="icon-tag"></i><a href="#">@Model.Movie.WrittenBy</a></span></li>
                <li><span class="span span-default"><i class="icon-tag"></i><a href="#">@Model.Movie.CinematographyBy</a></span></li>
                <li><span class="span span-default"><i class="icon-tag"></i><a href="#">@Model.Movie.DistributedBy</a></span></li>
                <li><span class="span span-default"><i class="icon-tag"></i><a href="#">@Model.Movie.WrittenBy</a></span></li>
            </ul>
        </aside>
    </div>
    <!-- END RIGHT SIDE BAR - TAGS -->
</div>
<div class="gap">
</div>
<!-- START RELATED VIDEOS -->
@for (var i = 0; i < Model.Related.Count; i++)
{
    var rm = @Model.Related[i];
    <div class= "bg-gray extend"  >
        @Html.Partial("_CarouselMovieHorizontal", rm)
    </div>
    <div class="gap">
    </div>
}
<!-- END RELATED VIDEOS -->
<!-- START COMMENTS -->
<div class="row-fluid">
    <div class="span6 offset3">
        @Html.Partial("_UserComment")
    </div>
</div>
<!-- END COMMENTS -->
@section Script
{
    <script type="text/javascript">
        $('#movieTabs').bind('show', function (e) {
            paneID = $(e.target).attr('href');
            src = $(paneID + " iframe").attr('data-src');
            // if the iframe hasn't already been loaded once
            if ($(paneID + " iframe").attr("src") == "") {
                $(paneID + " iframe").attr("src", src);
            }
        });
    </script>
}
